<app-date-shift-select (selectedDateShift)="changedDateShiftSelection($event)"></app-date-shift-select>
<div class="row input-margin container-flex">
  <ng-container *ngFor="let item of meals; let i = index;">
    <div class="card col-lg-4 col-md-4 col-sm-12 col-12 cursor-pointer" (click)="createOrder(item.planId)" [ngClass]="{'selected-meal': selectedPlan === item.planId }">
      <div *ngIf="selectedPlan === item.planId" class="selected-meal-icon">
        <button class="btn btn-success disabled rounded-circle remove-padding"><i class="fa fa-check" aria-hidden="true"></i></button>
      </div>
      <img class="card-img-top" style="height: 260px;" src="{{item.imageBase64}}" alt="Card image cap">
      <div class="card-body">
        <div class="row remove-padding">
          <div class="col-6 button-smaller-padding" style="text-align:left;">
            <h5 class="card-title">{{ item.name }}</h5>
          </div>
          <div class="col-6 button-smaller-padding" style="text-align:right;">
            <h5 class="card-title">{{ item.nameForeign }}</h5>
          </div>
        </div>
        <div class="row remove-padding">
          <div class="col-6 button-smaller-padding" style="text-align:left;">
            <h6 class="card-subtitle mb-2 text-muted">
              <ng-container *ngFor="let ingredient of item.ingredients; let i = index;">
                {{ ingredient.name }}<span *ngIf="i < item.ingredients.length-1">,</span>
              </ng-container>
            </h6>
          </div>
          <div class="col-6 button-smaller-padding" style="text-align:right;">
            <h6 class="card-subtitle mb-2 text-muted">
              <ng-container *ngFor="let ingredient of item.ingredients; let i = index;">
                {{ ingredient.nameForeign }}<span *ngIf="i < item.ingredients.length-1">,</span>
              </ng-container>
            </h6>
          </div>
        </div>
        <div class="row remove-padding">
          <div class="col-6 button-smaller-padding" style="text-align:left;">
            <p class="card-text">
              <ng-container *ngFor="let allergen of item.allergens; let i = index;">
                {{ allergen.name }}<span *ngIf="i < item.allergens.length-1">,</span>
              </ng-container>
            </p>
          </div>
          <div class="col-6 button-smaller-padding" style="text-align:right;">
            <p class="card-text">
              <ng-container *ngFor="let allergen of item.allergens; let i = index;">
                {{ allergen.nameForeign }}<span *ngIf="i < item.allergens.length-1">,</span>
              </ng-container>
            </p>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
