<div class="row">
  <div class="col-12 col-lg-4 input-margin">
    <h4>Вработени за {{ companyName }}</h4>
  </div>
  <div class="col-12 col-lg-4 input-margin">
    <div class="row">
      <div class="col-12 col-md-12">
        <input class="form-control" placeholder="Вработен" [(ngModel)]="employeeName" />
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-4 input-margin">
    <button class="btn btn-primary" (click)="search()">
      <i class="fa fa-search"></i>
    </button>
    <button class="btn btn-primary table-button-margin" (click)="exportToExcel()">
      <i class="fa fa-download"></i>
    </button>
    <button class="btn btn-primary table-button-margin" (click)="createEdit(0)">
      <i class="fa fa-plus" aria-hidden="true"></i>
      <span class="button-span-create">ДОДАДИ</span>
    </button>
  </div>
</div>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Корисничко име</th>
      <th>RFID</th>
      <th>Улога</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of employees">
      <td>{{ item.username }}</td>
      <td><div *ngIf="loggedInUser.role == 'Administrator' || (loggedInUser.role == 'HR' && item.role != 'Administrator' && item.role != 'Manager' && item.role != 'Chef')">{{ item.rfid }}</div></td>
      <td>{{ convertRoleIdToName(item.role) }}</td>
      <td>
        <div class="row remove-margin">
          <button *ngIf="item.role != 'Administrator'" class="btn btn-warning button-icon-padding table-button-margin" (click)="createEdit(item.id)"><i class="fa fa-pencil" aria-hidden="true"></i></button>
          <button *ngIf="item.role != 'Administrator'" class="btn btn-primary button-icon-padding table-button-margin" (click)="resetPassword(item)"><i class="fa fa-unlock-alt" aria-hidden="true"></i></button>
          <!--<button class="btn btn-danger button-icon-padding table-button-margin" (click)="delete(item.id, item.userId)"><i class="fa fa-times" aria-hidden="true"></i></button>-->
        </div>
      </td>
    </tr>
  </tbody>
</table>
<app-pagination [allPagesNumber]="allPages" (changePage)="onPageChange($event)"></app-pagination>
<app-employee-createedit></app-employee-createedit>
<app-employee-resetpassword></app-employee-resetpassword>
