.array-main-div {
  background-color: #f8f9fa;
  padding: 4px;
  border: solid 1px lightgray;
  border-radius: 4px;
}

.image-size {
  width: 100px;
  height: 80px;
  margin-bottom: 4px;
}
