<div class="row">
  <div class="col-12 col-md-3 input-margin" *ngIf="loggedInUser.role == 'Administrator'">
    <div class="row">
      <div class="col-3">
        <label>Компанија</label>
      </div>
      <div class="col-9">
        <ng-select [items]="companies"
                   [multiple]="false"
                   [(ngModel)]="companyId"
                   bindLabel="name"
                   bindValue="id">
          <ng-template ng-option-tmp let-item="item">
            <label>{{item.name}}</label>
          </ng-template>
        </ng-select>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-2 input-margin">
    <div class="row">
      <div class="col-3">
        <label>Од</label>
      </div>
      <div class="col-9">
        <dp-date-picker theme="dp-material"
                        class="input-margin"
                        [config]="datePickerConfig"
                        [(ngModel)]="fromDate"
                        placeholder="Од">
        </dp-date-picker>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-2 input-margin">
    <div class="row">
      <div class="col-3">
        <label>До</label>
      </div>
      <div class="col-9">
        <dp-date-picker theme="dp-material"
                        class="input-margin"
                        [config]="datePickerConfig"
                        [(ngModel)]="toDate"
                        placeholder="До">
        </dp-date-picker>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-2 input-margin">
    <div class="row">
      <div class="col-3">
        <label>Смена</label>
      </div>
      <div class="col-9">
        <ng-select [items]="shifts"
                   [multiple]="false"
                   [(ngModel)]="shift"
                   bindLabel="name"
                   bindValue="id">
          <ng-template ng-option-tmp let-item="item">
            <label>{{item.name}}</label>
          </ng-template>
        </ng-select>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-2 input-margin">
    <div class="row">
      <div class="col-3">
        <label>Подигнати</label>
      </div>
      <div class="col-9">
        <ng-select [items]="deliveries"
                   [multiple]="false"
                   [(ngModel)]="delivery"
                   bindLabel="name"
                   bindValue="id">
          <ng-template ng-option-tmp let-item="item">
            <label>{{item.name}}</label>
          </ng-template>
        </ng-select>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-1 input-margin">
    <button class="btn btn-primary" (click)="getReports()">
      <i class="fa fa-search"></i>
    </button>
    <button class="btn btn-primary" style="margin-left: 4px;" (click)="exportToExcel()">
      <i class="fa fa-download"></i>
    </button>
  </div>
</div>
<div class="col-12">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Датум</th>
        <th>Смена</th>
        <th>Оброк</th>
        <th>Корисник</th>
        <th>RFID</th>
        <th>Подигната</th>
        <th>Време на подигнување</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of plans">
        <td>{{ convertDateToMomentString(item.date) }}</td>
        <td>{{ item.shift }}</td>
        <td>{{ item.mealName }}</td>
        <td>{{ item.username }}</td>
        <td>{{ item.rfid }}</td>
        <td>
          <div *ngIf="item.isDelivered === true">
            <i class="fa fa-check"></i>
          </div>
          <div *ngIf="item.isDelivered === false">
            <i class="fa fa-times"></i>
          </div>
        </td>
        <td>
          <div *ngIf="item.isDelivered === true">
            <span>{{ convertDateToMomentString(item.deliveredDate) }}</span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

